body {
    text-align: center;
    background-color: darkslategray;
}

header {
    background-image: url(Logos/BVGR%20Enterprises%20Aviation%20.png);
    border: 2px solid yellow;
    border-radius: 10px;
    height: 650px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;

}

footer {
    background-image: url(Logos/BVGR%20Enterprises%20Aviation%20.png);
    border: 2px solid yellow;
    border-radius: 10px;
    height: 650px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;

}


img {
    border: 2px solid yellow;
    border-radius: 10px;
    height: 500px;
    width: 800px;
    object-fit: fill;
    margin: 50px;
}

 img:hover {
      transform: scale(1.1);
  }

  img {
      transition: transform 0.3s ease;
  }

  .image-container {
      position: relative;
      display: inline-block;
  }
